QWidget#main_widget, QWidget#content_layout, QWidget#menu_layout {
    padding: 0px;
    margin: 0px;
}

QVBoxLayout QPlainTextEdit {
    padding: 0px;
    margin: 0px;
}

QWidget#menu_layout QFrame{
    padding: 0px;
    margin: 0px
    background-color: red;
}
